# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
.pytest_cache/

# Virtual environments
venv/
.env

# Logs
*.log
serverlog.txt
*.swp

# Archives
*.zip
*.tar
*.tar.gz

# IDE
.vscode/
.idea/
backend-28600.pid
